
* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    background-color:rgb(231, 227, 215) ;
   
}
.topbar{
    display: flex;
    background-color: rgb(19, 34, 53);
    flex-direction: row;
    padding: 2%;
    font-weight: bold;
}
.topbar #BM{
color: aliceblue;
padding-top: 1%;
padding-bottom: 1%;
}
.topbar #pnp:hover {
    background-color: rgb(134, 219, 210);
    cursor: pointer;
}
.topbar #pnp {
    margin-left: 55%;
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
}
.topbar #boothM:hover {
    background-color: rgb(134, 219, 210);
    cursor: pointer;
}
.topbar #boothM {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    color: aliceblue;
}
.topbar #ebm:hover {
    background-color: rgb(134, 219, 210);
    cursor: pointer;
}
.topbar #ebm {
    margin-left: 2%;
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
}
#input-numbers{
    display: block;
    max-width: 836px;
    max-height: 374px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align:center;
    align-items: center;
    border: 1px solid black;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(33, 82, 83);
   
}
#multiplicand-div{
    margin-top: 5%;
}
.input-container{

    color: aliceblue;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color:rgb(134, 219, 210);
}
.solutionField{
    text-align: center;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
#display-mode {
    position: relative;
    display: inline-block;
    background-color:rgb(19, 34, 53); 
    width: fit-content;
}
#display-mode:hover{
    cursor: pointer;
    background-color: rgb(134, 219, 210);
    border: 1px solid black;
    text-align: center;
}
#display-mode-text{
    text-align: center;
    
}
#display-mode-container{
    text-align: center;
}
.inner{
    text-align: center;
}
#display-mode-content{
    width: fit-content;
    text-align: justify;
    
}
.hidden{
    visibility: hidden;
}